body{
    background-image: url("../res/img/fondo.jpg");
}
.wrap{
    width: 1250px;
    margin: 0px auto; 
     
}

.encabezado h1{
    display: block;
    width: 850px;
    font-family: "BebasNeue";
    color: #EBE6D3;
    font-size: 100px;
    letter-spacing: 2px;
    margin: 0px auto;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
    text-align: center;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    
}

#info{
    margin: 0px auto;
    text-align: center;
    font-size: 21px;
    margin-bottom: 50px;
    color: white;
}

.canvas {

    width: 680px;
    height: 550px;
    display: flex;
    background-color: #000000;
    position: relative;
    margin: 0px auto;
}


